# ignore env files
.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Downloads
downloads/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Database
*.db
*.sqlite3
